* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

/* Nav Styling */
.youtube-logo {
  height: 4.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 5.5rem;
  padding: 2rem 0;
}

ul {
  display: flex;
  align-items: center;
  margin: 0 4rem;
}

.material-icons {
  font-size: 2.8rem;
  color: #606060;
}

.main {
  background-color: #f9f9f9;
  height: 100vh;
}

.search-button,
input {
  display: inline-block;
  height: 3.5rem;
}

.search-button {
  background-color: #f8f8f8;
  width: 5rem;
}
.nav-left,
.nav-right {
  flex: 1 1 20rem;
}

.nav-center {
  flex: 2 1 40rem;
  justify-content: center;
}

.nav-right {
  justify-content: flex-end;
}

.search-container {
  width: 80%;
}
#searchbar {
  min-width: 20rem;
  width: 100%;
  font-size: 1.6rem;
}

#search-icon {
  font-size: 2rem;
  color: #888888;
}

.nav-right li,
.nav-left li {
  margin: 0 1rem;
}
