* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f8f8f8;
}

/* Nav Styling */
.youtube-logo {
  height: 5rem;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 5.5rem;
  padding: 2rem 0;
}

ul {
  display: flex;
  align-items: center;
  margin: 0 4rem;
}

.material-icons {
  font-size: 2.8rem;
  color: #606060;
}
.material-icons:hover {
  cursor: pointer;
}

.search-button,
input {
  display: inline-block;
  height: 3.5rem;
}

.search-button {
  background-color: #f8f8f8;
  border: solid 1px #c6c6c6;
  width: 5rem;
}
.nav-left,
.nav-right {
  flex: 1 1 20rem;
}

.nav-center {
  flex: 2 1 40rem;
  justify-content: center;
}

.nav-right {
  justify-content: flex-end;
}

.search-container {
  width: 80%;
}
#searchbar {
  min-width: 20rem;
  width: 100%;
  font-size: 1.6rem;
  border: solid 1px #c6c6c6;
  border-right: none;
  text-indent: 1rem;
}

#search-icon {
  font-size: 2rem;
  color: #888888;
}

.nav-right li,
.nav-left li {
  margin: 0 1.2rem;
}

/* Video container styling */

main {
  display: inline-block;
  width: 65%;
}

.video-container {
  display: inline-block;
  width: 95%;
  padding-top: 2rem;
  margin-left: 3rem;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container h1 {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #030303;
  padding: 1.6rem 0;
}

/* Sidebar styling */

aside {
  vertical-align: top;
  width: 29%;
  display: inline-block;
  padding-top: 2rem;
  margin-left: 2rem;
}

.sidebar-related-video {
  margin: 0.8rem 0;
  cursor: pointer;
}

.thumbnail-pic-container {
  display: inline-block;
  width: 40%;
  position: relative;
}

.thumbnail-pic {
  width: 100%;
}

.thumbnail-time {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: #030303;
}

.thumbnail-info {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}

.thumbnail-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #030303;
  line-height: 1.6rem;
}

.thumbnail-data,
.thumbnail-channel {
  color: #606060;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0.4rem 0;
}

/* Video information and social */

#share-icon {
  transform: scaleX(-1);
}

.video-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-details,
.video-social {
  display: inline-block;
  width: 45%;
}

.video-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-text {
  font-weight: 500;
  font-size: 1.4rem;
  color: #606060;
}

.video-title {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #030303;
}
.video-details {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #606060;
}
.video-social > * {
  margin: 0 0.7rem;
}

/* Comments section */

.section-comments {
  display: inline-block;
  width: 95%;
  margin-left: 3rem;
}

.user-comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comment-form {
  display: inline-block;
  width: 95%;
  border: none;
  border-bottom: solid 1px #030303;
  background: none;
  margin: 4rem 0;
}

.user-comment-icon {
  display: inline-block;
  width: 4rem;
}

.user-comment-icon img {
  width: 100%;
  vertical-align: middle;
  border-radius: 100%;
}

.user-comment-content {
  display: inline-block;
  max-width: 90%;
}
