* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

/* Nav Styling */
.youtube-logo {
  height: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 5.5rem;
  padding: 2rem 0;
}

ul {
  display: flex;
  align-items: center;
  margin: 0 4rem;
}

.material-icons {
  font-size: 2.8rem;
  color: #606060;
}
.material-icons:hover {
  cursor: pointer;
}

.main {
  background-color: #f9f9f9;
  height: 100vh;
}

.search-button,
input {
  display: inline-block;
  height: 3.5rem;
}

.search-button {
  background-color: #f8f8f8;
  width: 5rem;
}
.nav-left,
.nav-right {
  flex: 1 1 20rem;
}

.nav-center {
  flex: 2 1 40rem;
  justify-content: center;
}

.nav-right {
  justify-content: flex-end;
}

.search-container {
  width: 80%;
}
#searchbar {
  min-width: 20rem;
  width: 100%;
  font-size: 1.6rem;
}

#search-icon {
  font-size: 2rem;
  color: #888888;
}

.nav-right li,
.nav-left li {
  margin: 0 1.2rem;
}

/* Video container styling */

.video-container {
  display: inline-block;
  width: 65%;
  padding-top: 2rem;
  margin-left: 3rem;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container h1 {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #030303;
  padding: 1.6rem 0;
}

/* Sidebar styling */

aside {
  vertical-align: top;
  width: 30%;
  display: inline-block;
  padding-top: 2rem;
  margin-left: 2rem;
}

.sidebar-related-video {
  margin: 1rem 0;
}

.thumbnail-pic-container {
  display: inline-block;
  width: 40%;
  position: relative;
}

.thumbnail-pic {
  width: 100%;
}

.thumbnail-time {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: #030303;
}

.thumbnail-title {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}

#share-icon {
  transform: scaleX(-1);
}

.video-details,
.video-social {
  display: inline-block;
  width: 45%;
}

.video-social {
  text-align: right;
}
